.body{
    background-color:#ffcc00;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feliz{
    font-size: 100px;
    text-align: center;
}
.triste{
    display: none;
    font-size: 100px;
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    margin-right: 30px;
    width: 70px;
}
.btn{
 width: 70px;
 background-color:blue;
 border-radius:5px;
 border: 1px solid blue;
 color: white;
}